<div class="login-form login-form-left">
    <div class="agile-row">
        <h3>Yeni Müşteri Kayıt</h3>
        <div class="login-agileits-top">
            <form  method="post">
                <input type="text" class="name" name="cariAd" Placeholder="Ad" required="" />
                <input type="text" class="name" name="cariSoyad" Placeholder="Soyad" required="" />
                <input type="text" class="name" name="cariSehir" Placeholder="Şehir" required="" />
                <input type="text" class="mail" name="cariMail" Placeholder="Mail" required="" />
                <input type="password" class="password" name="cariSifre" Placeholder="Şifre" required="" />
                <div class="login-check">
                    <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i> </i> Kuralları Okudum <a href="#"> &amp; Kabul Ediyorum</a></label>
                </div>
                <input type="submit" value="Kayıt">
            </form>
        </div>
    </div>
</div>
